{% extends 'base_temp.html' %}

{% block content %}
<section class="container">
    <div class="card">
        <div class="card-header text-dark">Menu Item</div>
        <div class="card-body">
            <form id="restaurantForm" class="was-validated" method="POST" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="nameInput" name="name" value="{{form.name.value or ''}}"
                        placeholder="Enter a restaurant name" required>
                    <div class="invalid-feedback">{{form.name.errors or ''}}</div>
                </div>
                <div class="border-top p-2">
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
            <!-- <script>
                $('#restaurantForm').submit(function(event){
                    event.preventDefault();
                    $.post('')
        
                })
            </script> -->
        </div>
    </div>
</section>
{% endblock %}