<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{url_for('static', filename='js/jquery-3.4.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <title>Restaurants-Zone</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary mb-2">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    {% block fb %}
    {% with messages = get_flashed_messages() %}
    {% for m in messages %}
    <h4>{{m}}</h3>
        {% endfor %}
        {% endwith %}
        {% endblock %}
        {% block content %}{% endblock %}

        <footer>

        </footer>
        <script src="{{url_for('static', filename='js/holder.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>



<!-- new restaurant form modal -->
<div class="modal fade" id="newRestaurantModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Restaurant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-restaurant" method="GET">
                    <div class="form-group">
                        <label for="nameInput">Restaurant Name</label>
                        <input type="text" class="form-control" id="nameInput" name="name"
                            placeholder="Enter restaurant name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- new/edit Menu Item Form modal -->



<!-- delete restaurant or menu-item modal form -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteItemForm" action="" method="POST">
                    <div class="message">
                        Are you sure you want to delete restaurant.name ?
                    </div>
                    <div class="mt-2 p-2 border-top">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#deleteItemModal').on('show.bs.modal', function (event) {
            var btn = $(event.relatedTarget);
            var name = btn.data('name');
            var action = btn.data('action');
            var modal = $(this);
            var form = modal.find('#deleteItemForm');
            form.attr('action', action);
            modal.find('.message').text('Are you sure you want to delete ' + name + '?');
        })
    </script>
</div>

</html>