<!-- dependencies -->
<!-- menu_items list -->
<!-- restaurant-->

{% extends 'base_temp.html'  %}

{% block content %}
<section class="container">
    <div class="restaurant-header d-flex align-items-center p-3 text-white-50 rounded bg-info">
        <div class="restaurant-logo">
            <img data-src="holder.js/50x50?theme=thumb&amp;bg=414141&amp;fg=414141&amp;size=1" alt="32x32"
                class="mr-2 rounded" style="width: 32px; height: 32px;" data-holder-rendered="true">
        </div>
        <div>
            <h4 class="mb-0 text-white lh-100">{{restaurant.name}}</h4>
            <small>some text</small>
        </div>

    </div>
    <div class="menu-list card p-3 my-3">
        <h5 class="border-bottom pb-2">Menu</h5>
        {% for item in menu_items %}
        <div class="menu-item d-flex justify-content-between align-items-center border-bottom pt-2 w-75 m-auto">
            <div class="d-flex">
                <div class="d-none d-sm-block">
                    <img data-src="holder.js/60x60?theme=thumb&amp;bg=6c757d&amp;fg=6c757d&amp;size=1" alt="32x32"
                        class="img-fluid mr-2 rounded" style="width: 32px; height: 32px;" data-holder-rendered="true">
                </div>
                <div class="item-body">
                    <h6 class="mb-0">{{item.name}}</h6>
                    <div><small>{{item.description}}</small></div>
                    <strong class="badge badge-dark">{{item.course}}</strong>
                </div>
            </div>
            <div class="ml-1 p-2">
                <h4 class="text-center bg-info rounded text-white">{{item.price}}</h3>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-secondary"
                            href="{{url_for('editMenuItem', restaurant_id=restaurant.id, item_id=item.id)}}">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22">
                                <path fill="#ffffff90"
                                    d="M1.204 14.796v3h3l8-8-3-3-8 8zm3 2h-2v-2h1v1h1v1zm10.3-9.3l-1.3 1.3-3-3 1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                </path>
                            </svg>
                        </button>

                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                            data-name="{{item.name}}"
                            data-action="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=item.id)}}">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22">
                                <path fill="#ffffff90"
                                    d="M10.856 5.286V4.142C10.856 3.458 10.4 3 9.714 3H6.286c-.686 0-1.144.458-1.144 1.142v1.144H1.714v1.142h1.142v11.43C2.856 18.542 3.314 19 4 19h8c.686 0 1.142-.458 1.142-1.142V6.428h1.144V5.286h-3.43zm-4.57 10.286H5.142V8.714h1.144v6.858zm0-11.43h3.428v1.144H6.286V4.142zm2.286 11.43H7.428V8.714h1.144v6.858zm2.284 0H9.714V8.714h1.142v6.858z" />
                            </svg>
                        </button>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}