<!-- dependencies -->
{% extends 'base_temp.html' %}


{% block content %}
<section class="container my-3 w-75">
    <div class="restaurants-list">
        <div class="row">
            {% for r in restaurants %}
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <img class="card-img-top" src="" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=RESTAURANT" data-holder-rendered="true" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{r.name}}</h5>
                        <p class="card-text">has 24 menu item</p>
                        <a href="{{url_for('restaurantMenu', restaurant_id=r.id)}}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{% endblock %}